body{
	background:#abecf0;
	width:93.75%; /*900px;*/
	margin:0 auto;
}

h1, h2{
	margin:0;
}

p{
	margin:0;
}

ul, ol{
	margin:0;
}

/*---------------------------------------------Navigation------------------------------------------*/
nav ul{
	width:33.333333%; /*300px;*/
	margin:0;
	background:gray;
	list-style-type:none;
	padding:0;
	overflow:hidden;
}

nav li{
	width:33.333333%; /*100px;*/
	background:#abecf0;
	float:left;
}

nav a{
	text-decoration:none;
	background:#ddd3a5;
	display:block;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#abecf0;
}

nav a:hover{
	background:#abecf0;
	color:#ddd3a5;
}

header h1{
	background:#ddd3a5;
	width:66.666667%; /*600px;*/
	float:left;
}

/*---------------------------------------------Images------------------------------------------*/
#images{
	background:rgba(221,211,165,0.7);
	width:77.777778%; /*700px;*/
	float:left;
}

#images ul{
	border:1px #fff;
	list-style-type:none;
	width:92.857143%; /*650px;*/
	margin:1.4285714%; /*10px;*/
	overflow:hidden;
	padding:0.76923077%; /*5px;*/
}

#images li{
	float:left;
	margin-left:1.5384615%; /*10px;*/
}

#images a{
	border:1px solid white;
	display:block;
	outline:0;
	width:21.428571%; /*150px;*/
	height:201px;
}

#images a:visited{
	border-color:#abecf0;
}

#images a:hover{
	border-color:gray;
}

#images a:active{
	border-color:orange;
}

/*---------------------------------------------Section Liam------------------------------------------*/

#liam{
	clear:left;
	width:66.666667%; /*600px;*/
	float:right;
	padding:5%; /*30px;*/
	padding-left:28.5%; /*255px;*/
	background-image:url(../images/background.jpg);
	background-repeat: repeat-x;
	background-color:#0d96aa;
}

#liam h1{
	text-shadow:2px 2px 2px #c6c2b0;
	font-family: 'The Girl Next Door', cursive;
}

#liam p{
	margin-top:1.6666667%; /*10px;*/
	text-indent:20px;
}

button{
	width:33.333333%; /*200px;*/
	height:50px;
	background: -moz-linear-gradient(top,  #c6c2b0, #c5b35f);
	border-radius:10px;
	margin-top:30px;
	margin-left:66.666667%; /*400px;*/
}

/*---------------------------------------------Facts------------------------------------------*/
#facts{
	background:#ddd3a5;
	width:22.222222%; /*200px;*/
	float:left;
}

#facts ol {
	padding-top:15px;
	padding-bottom:64px;
}

/*---------------------------------------------About------------------------------------------*/
#about{
	clear:left;
}

div{
	-moz-column-count:3;
	-moz-column-gap:25px;
}

div p{
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	line-height:25px;
}

/*---------------------------------------------Footer------------------------------------------*/
footer{
	background:#ddd3a5;
	text-align:center;
}